 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  body{
    font-family: arial;
    background-color: var(--bg-color);
    transition: 0.5s;
  }

    
 :root{
     --text-color: rgb(3,2,23) ;
     --sun-color:rgb(255,237,36);
     --bg-color:white;
 }


 .darkmode {

  --text-color: white;
  --bg-color: rgb(3,2,23);
   transition: 0.5s;

 }


 .container{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }


  h2{
    font-size: 70px;
    color:var(--text-color);
    margin-right: 15px;
  }

  button{
    border: none;
    background-color:var(--bg-color);
    width: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 22px;
  }


  button .dark{
     width: 40px;
     height: 40px;
     line-height: 40px;
      display:block;
     background-color:var(--sun-color) ;
     color:var(--text-color);
     border-radius: 50%;
     transition: 0.5s;
  }


  button .light{
    width: 40px;
    height: 40px;
    line-height: 40px;
     display: block;
     border-radius: 50%;
    background-color:var(--text-color);
    color:var(--bg-color);
 }

  